/* CSS for Header */

.header {
  padding-top: 26px;
  padding-bottom: 16px;
}

.header__mail-menu {
   flex: 2;
   display: flex;
   padding-top: 41px;
}

.logo {
  padding-left: 8px;
  flex: 4;
}

.header__mail-link {
  color: #494843;
  flex: 1;  
}

.header__mailto {
  flex: 1;
}

.header__mail-icon {
  margin-bottom: -3px;
}

.header__menu {
  padding-right: 8px;
  color: #33a0da;
}

.header__triangle {
  display: inline-block;
}

