/* CSS for Header */

.header {
  padding: 26px 8px 16px 8px;
  display: flex;
  justify-content: space-between;
}

  .logo {
    flex: 2;
  }

  .header__ui {
    flex: 1;
    display: flex;
    padding-top: 41px;
  }

    .header__mail {
      color: #494843;
      flex: 1;  
    }

    .header__mail::before {
      content: url("../images/mail.svg");
      margin-right: 8px;
      display: inline-block;
      vertical-align: middle;
    }

    .header__menu {
      color: #33a0da;
    }

    .header__menu::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 9px solid #33a0da;
      display: inline-block;
      vertical-align: middle;
      margin-left: 4px;
    }


