/* CSS */

.general-layout {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #494843;
  width: 1200px;
  margin: auto;
}

.header {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  padding-top: 21px;
  padding-bottom: 21px;
  
}

.header__mail-menu {
   flex: 2;
   display: flex;
   padding-top: 37px;
}

.logo {
  flex: 4;
}

.header__mail-link {
  color: #494843;
  flex: 1;  
}

.header__mailto {
  flex: 1;
}

.header__mail-icon {
  margin-bottom: -3px;
}

.header__menu {
  color: #33a0da;
}




