/* CSS */

body {
  margin: 0px;
}

.content_width1200-centered {
  width: 1200px;
  margin: auto;
  box-sizing: border-box;
}

.general-layout {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #494843;
  padding: 0px;
}

.h1 {
  color:  #33a0da;
  font-size: 35px;
  font-weight: 300;
  text-align: left;
  line-height: 35px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.h2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 30px;
}

.h3 {
  font-size: 1rem;
  margin-top: 0px;
  margin-bottom: 30px;  
}

.text {
  margin-bottom: 30px;
  margin-top: 0px;
  line-height: 20px;
}

.block_no-margin-bottom {
  margin-bottom: 0px !important;
}

.premium {
  background-color: #eef9ff;
  background-size: 100vw;
}

.regular-checkbox {
  border: 1px solid #979797;
  border-radius: 0px;
  box-sizing: border-box;
  background-color: white;
  width: 24px;
  height: 24px;
  position: relative;
  top: 5px;
}

.link_bold {
  color: #494843;
  font-weight: 700;  
}

.table {
  border: none;
  border-collapse: collapse;
  margin-bottom: 30px;
  box-sizing: border-box;
  width: 100%;
}

.table__summ {
  position: relative;
  width: 537px;
  float: right;
  margin-bottom: 50px;
}

.td {
  font-size: 15px;
  color: #494843;
  line-height: 18px;
  border: 1px solid #767676;
  padding: 12px 18px 12px 18px;
  box-sizing: border-box;
}

.td_bold {
  font-weight: 700;
}

.td:nth-child(even) {
  text-align: right;
  width: 236px;
}

.tr:nth-child(1) {
  background-color: #eef9ff;
}

.hr_content-width {
  background-color: #767676;
  height: 1px;
  border: none;
  padding: 0px;
  width: 1200px;
  margin: auto;
}

.form {
  display: flex;
  width: 515px; 
  justify-content: space-between;
}

.form__text {
  flex: 1;
}

.form__label {
  flex: 1;
}
