/* CSS */

body {
  margin: 0;
  box-sizing: border-box;
}

body *, body *::before, body *::after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  margin: 0 auto;
  
}

.container_flex {
    display: flex;
    justify-content: space-between;
}

.general-layout {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #494843;
  padding: 0;
}

.h1 {
  color:  #33a0da;
  font-size: 35px;
  font-weight: 300;
  text-align: left;
  line-height: 35px;
  margin-top: 0;
  margin-bottom: 30px;
}

.h2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 30px;
}

.h3 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 30px;  
}

.text {
  margin-bottom: 30px;
  margin-top: 0;
  line-height: 20px;
}

.block_no-margin-bottom {
  margin-bottom: 0 !important;
}

.block_margin-bottom50px {
  margin-bottom: 50px !important;
}

.background_light-blue100vw {
  background-color: #eef9ff;
  background-size: 100vw;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;

  border: 1px solid #979797;
  border-radius: 0;
  width: 24px;
  height: 24px;
  margin: 0 8px -5px 0;
}

.checkbox__input:checked {
  background: transparent url("../images/check.svg") no-repeat center center;
}

.checkbox__title {

}

.link_bold {
  color: #494843;
  font-weight: 700;  
}

.table {
  border: none;
  border-collapse: collapse;
  margin-bottom: 30px;
  box-sizing: border-box;
  width: 100%;
}

.table__summ {
  position: relative;
  width: 537px;
  float: right;
  margin-bottom: 50px;
}

.td {
  font-size: 15px;
  color: #494843;
  line-height: 18px;
  border: 1px solid #767676;
  padding: 12px 18px 12px 18px;
  box-sizing: border-box;
}

.td_bold {
  font-weight: 700;
}

.td:nth-child(even) {
  text-align: right;
  width: 236px;
}

.tr:nth-child(1) {
  background-color: #eef9ff;
}

.hr_content-width {
  background-color: #767676;
  height: 1px;
  border: none;
  padding: 0;
  width: 1200px;
  margin: auto;
}


.form {
  font-family: 'Roboto';
  color:  #494843;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}

.form_width50per {
  max-width: 514px;
}

.form__line {
  display: flex;
  margin-bottom: 19px;
  align-items: center; 
}

.form__label {
  flex: 1 1 140px;
}

.form__input {
  flex: 1 1 374px;
  border: 1px solid #979797;
  box-sizing: border-box;
  background-color:  #eeeeee;
  width: 374px;
  height: 34px;
  padding-left: 18px;
}

.form__select {
-moz-appearance: none;
-webkit-appearance: none;
font: inherit;

background: #eeeeee url("../images/select.png") no-repeat right center;
display: block;  
border-radius: 0;
}

.form__option {
  -webkit-appearance: none;
  -moz-appearance: none; 
  padding-top: 5px;
}

.form__caption {margin-top: 50px;}